<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>書籍一覧</title>
</head>
<body>
  <h2>書籍一覧</h2>
  <table border="1">
    <tr><th>ID</th><th>書名</th><th>著者</th></tr>
    <% let number = 0 %>
    <% for(let row of data) { %>
      <tr>
        <td><%= row.id %></td>
        <td><a href="/books/<%= number %>"><%= row.title %></a></td>
        <td><%= row.author %></td>
      </tr>
      <% number += 1 %>
    <% } %>
  </table>
  <br>
  <a href="/books/create">新規書籍の追加</a>
  <hr>
  <a href="/">トップに戻る</a>
</body>
</html>